<div class="footer">
  <div class="copyright" style="color:black">
    <br>
  
    Copyright &copy; 2018 <strong style="color:rgb(42, 151, 201)">Kvana</strong>. &nbsp;All Rights Reserved.
    <br>
    <br>
 </div>
</div>
<!-- <footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
           Copyright &copy; 2018 <strong style="color:brown">Kvana</strong>. &nbsp;All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer> -->