
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <br>
        <br>
        <br>
        <br>

        <h1 class="section-title"  style="text-align:center; color:rgb(165, 42, 165)">About Us</h1>
        <p>At Kvana, we are a collective of designers, developers, and digital strategists, our philosophy for delivering fresh is integrating everywhere, in our teams, workspaces, process, and deliverables. Together with our clients, we create innovative combinations.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <br>
       
        <img src="assets/images/About.jpg" height="250" width="480"/>
      </div>
      <div class="col-md-6">
        <h2 style="color:rgb(165, 42, 165)">We provide great services and ideas</h2>
        <p>
          The world is mobile. You should be too. Kvana is a full-service app
          development company for iOS, Android, Web and Backend. We work with
          companies, brands and funded startups to create great products.
          Kvana has you covered from conception to launch.
        </p>
        <p class="top">
          Our team of dedicated developers has expertise in a wide variety of
          tools and technologies, including Ruby on Rails, Java, Objective-C,Swift,
          Node.js, I Beacons, OpenGL and much more. We work fast, Kvana can work on your project
          around the clock.
        </p>
      </div> 
    </div>
    <div class="row" >
        <div align="center" id="photo">
            <img src="assets/images/kris.jpg"  style="border-radius:50%"/>
  <br>
  <p style="font-size:27px;color:rgb(42, 151, 201)"><b>Kris Sunil</b></p>
  <p><b>Founder, CEO, VP Engineering</b></p>
  <p><a href="https://twitter.com/krism9999"><i class="fa fa-twitter"></i></a> &nbsp; &nbsp; <a href=""><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;  <a href="https://www.linkedin.com/in/krismaganti"><i class="fa fa-linkedin"></i></a></p>
           
        </div>
    </div>

 </div>
</section>
