
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="section-title"  style="text-align:center; color:rgb(165, 42, 165)">About Us</h1>
        <p>At Kvana, we are a collective of designers, developers, and digital strategists, our philosophy for delivering fresh is integrating everywhere, in our teams, workspaces, process, and deliverables. Together with our clients, we create innovative combinations.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <br>
        <img src="assets/images/About.jpg" height="200" width="550"/>
      </div>
      <div class="col-md-6">
        <h2 style="color:rgb(165, 42, 165)">We provide great services and ideas</h2>
        <p>
          The world is mobile. You should be too. Kvana is a full-service app
          development company for iOS, Android and the web. We work with
          companies, brands and funded startups to create great products.
          Kvana has you covered from conception to launch.
        </p>
        <p>
          Our team of dedicated developers has expertise in a wide variety of
          tools and technologies, including Ruby on Rails, Java, Objective-C,
          Node.js, I Beacons, OpenGL and much more. We work fast. With
          teams in North America and Asia, Kvana can work on your project
          around the clock.
        </p>
      </div> 
    </div>
<br>
    <h3 style=" color:rgb(165, 42, 165)">WHY CHOOSE KVANA</h3>
    <h4 style="color:rgb(10, 9, 9)">Meaningful Work</h4>
    <p>Kvana helps connect with their customers in a whole new way. We are blazing new trails in enterprise software every day while focusing on our mission of improving the state of the world.</p>

    <h4 style="color:rgb(10, 9, 9)">Good People</h4>
    <p>Life at Kvana our values: Trust, Growth, Innovation, Equality, Customer Success, Transparency, Giving Back, Wellbeing, and Fun.These values make us unique.</p>

    <h4 style="color:rgb(15, 13, 13)">Unparalleled Rewards</h4>
    <p>Members of our company enjoy great pay and perks, but they also value the opportunity to learn from some of the most passionate and driven people in the industry, grow their career with us,and give back.</p>
   
  </div>
</section>
