#about{
    height: 100vh;
    padding:0 auto;
    background-image: url('/assets/images/back1.jpg'); 
}
h2{
    color:brown;
    padding: 0 auto;
}
.container{
    font-size: 18px;
    font-style: italic;
    font-weight:200;
    font-family: "AppleSystemUIFontItalic";
}

#photo{
    padding-top: 20vh;
    padding-bottom: 10%;
}
