<section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>

          <h1 class="section-title" style="color:rgb(165, 42, 165);text-align:center">Contact Us</h1>
          <div class="section-title-divider"></div>
          <p class="section-description" style="font-size:20px;text-align:center">We're always looking for new projects to work on, if you have some please write to us!<br>

          <br><span style="font-size:36px; color:rgb(165, 42, 165)"><i class="fa fa-envelope"></i>contact@kvana.com</span></p>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
          <div class="col-md-1"></div>
        <div class="col-md-4 ">
          <fieldset>
          <legend style="color:rgb(165, 42, 165)"> USA </legend>
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p style="font-size:20px;"><b>360 S Market Street,<br> UNIT 1306, San Jose, <br>CA 95113. </b><br>
              (415) 747-7799</p>
            </div>
          </div>
        </fieldset>
       <br>

          <fieldset>
              <legend style="color:rgb(165, 42, 165)"> INDIA </legend>
              <div class="info">
                <div>
                  <i class="fa fa-map-marker"></i>
                  <p style="font-size:17px;">#302, Harsha Homes, CBI colony,<br>  Madhapur, Hyderabad-500081, India. <br>
                  (040) 4853 3949, (+91) 96406 85656</p>
                </div>
              </div>
              </fieldset>
        </div>


        <div class="col-md-1">
         
        </div>
        <div class="col-md-6">
          <div class="form">
           
            <!-- <div id="sendmessage" style="color: rgb(165, 42, 165)"> Your message has been sent. Thank you!</div> -->
            <div id="errormessage"></div>
            <form action="mailto: contact@kvana.com" method="post" role="form" class="contactForm">
              <div class="form-group">
                  <p><b>Name:</b></p>
                <input type="text" name="name" class="form-control" id="name" placeholder="" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                  <p><b>Email:</b></p>
                <input type="email" class="form-control" name="email" id="email" placeholder="" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                  <p><b>Subject:</b></p>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                  <p><b>Message:</b></p>
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Enter"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>
