#contact{
    padding-bottom: 10%;
    background-image: url('/assets/images/back1.jpg'); 
}
.row{
    font-size: 18px;
    font-style: italic;
    font-weight:200;
    font-family: "AppleSystemUIFontItalic";
}