<div class="container">
    <div class ="row">
        <div class="col-md-6"> 
            <br>
            <img src="assets/images/image12.jpg" height="300" width="550"/>
        </div>
        <div class="col-md-6"> 
            <h3 style="color:rgb(165, 42, 165)">Work at KVANA:-</h3>
            <p>Working at Kvana means you make a difference. You innovate, create, build and grow. Your work is meaningful and contributes to our incredible vision for the future of connected experiences. The best part? We provide you with the programs, opportunities and rewards to support and motivate you.</p>
            <h3 style="color:rgb(165, 42, 165)">Life at KVANA:-</h3>
            <p>A Kvana life means crafting a story where you make a difference in the world,where you get to have daily adventures and experience the most incredible ways of being collaborative and innovative with colleagues across the globe. Life is one full of learning and new challenges.The best part? Life is rewarding and fun! Choices as exciting as our technology. Careers as astounding as our solutions. Options as limitless as your imagination. Work with the most advanced technology in the world starting now.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h3 style="color:rgb(165, 42, 165)">BE YOURSELF, MAKE A DIFFERENCE:-</h3>
            <p>Be recognized for the talents you bring and the difference you make. Work with the smartest people and see how, together, we're much smarter. Bring on the real you, and together we'll make big things happen.
            Hear from your future colleagues on what makes Kvana a great place to work.</p>
            <p>Choices as exciting as our technology. Careers as astounding as our solutions. Options as limitless as your imagination. Work with the most advanced technology in the world–starting now.
            At Kvana, you’re no ordinary employee. Each one of you is an ideapreneur who has the freedom to ideate and generate innovative solutions to our customer’s problems. And when you do that, you go beyond the promises we make to our customers. You take the Relationship Beyond the Contract. </p>
            <p>Here at Kvana, we encourage our employees to take the initiative to shape the roles and define areas of work that will benefit directly from their individual expertise. This culture of ideapreneurship is a result of Kvana’s Employees First values, which collectively empower and encourage individual employees at all levels of the organization to come up with innovative solutions to operational and customer challenges.
            This vibrant culture motivates every employee to rise to the challenge of being an ideapreneur and transforms our employees into idea led intrapreneurs with the capability to change the business landscape and deliver positive outcomes.</p>
        </div>
    </div>
</div>
