
  #services .service-item {
    margin-bottom: 20px;
  }
  
  #services .service-icon {
    float: left;
    background: #03C4EB;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid rgb(99, 137, 219);
  }
  
  #services .service-icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #services .service-item:hover .service-icon {
    background: #fff;
  }
  
  #services .service-item:hover .service-icon i {
    color: #03C4EB;
  }
  
  #services .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .service-title a {
    color: #111;
  }
  
  #services .service-description {
    margin-left: 80px;
    line-height: 24px;
  }

  #services{
    padding-top: 5%;
  }


  