
 
 <section id="services">
    <div class="container wow fadeInUp">
      
      <div class="row">
        <div class="col-md-12">
            <br>
        <br>
        <br>
        <br>
          <h1 class="section-title" style="color:rgb(165, 42, 165);text-align:center">Our Services</h1>
       
          <div class="section-title-divider"></div>
          <p class="section-description" style="font-size: 16px; text-align:justify;"> Our development is spread to various domains relating to
            entertainment, sport, video, content management etc.  As this
            powerful mobile and tablet-friendly OS gains an ever-widening
            foothold among hardware manufacturers, Kvana's Experienced System
            Analyst and Developers work on your Custom Projects from its concept
            through its completion. We are Kvana, where each person is unique, but brings their talents to work as a team and make a difference. You may know us for our work. But we do so much more. Kvana invents at the boundaries of technology to make amazing experiences possible for business and society.</p>
        </div>
      </div>
      
       
            
       <div class="marquee" id="mycrawler1" style="margin: auto">
        <img src="assets/images/image7.jpg" width="200px" height="150px" />
        <img src="assets/images/image8.jpg" width="200px" height="150px" />
        <img src="assets/images/image9.png" width="200px" height="150px" />
        <img src="assets/images/image10.jpg" width="200px" height="150px" />
        <img src="assets/images/image11.jpg" width="200px" height="150px" />
      </div> 
      <br>
      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-apple"></i></div>
          <h3 class="service-title" style="text-transform: none !important;" onmouseover="document.getElementById('ios').style.display='block'" onmouseout="document.getElementById('ios').style.display='none'"style="color:rgb(165, 42, 165)">iOS</h3>
          <p class="service-description" id="ios" style="display:none; text-align:justify; "> Kvana is a iOS app development company providing services that cover the entire development cycle, from concept to distribution. Leveraging a proven methodology and in-house talent, we deliver end-to-end custom products that encompass the complete range of iOS devices, including iPad, Apple TV, watchOS and iPhone app development. </p>
        </div>

        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-android"></i></div>
          <h3 class="service-title" onmouseover="document.getElementById('android').style.display='block'" onmouseout="document.getElementById('android').style.display='none'" style="color:rgb(165, 42, 165)">Android</h3>
          <p class="service-description" id="android" style="display:none; text-align:justify;"> Kvana is a preferred Android app development company offering scalable, cloud ready and intuitive apps. At Kvana, our android app developers are skilled, certified and follow different methodologies, implementing Android app development best practices and offering enterprise level development. Our apps are catered to the client needs offering broad range of features to increase revenue through mobile ready business. </p>
        </div>
        <div class="col-md-4 service-item">
            <div class="service-icon"><i class="fa fa-globe"></i></div>
            <h3 class="service-title" onmouseover="document.getElementById('web').style.display='block'" onmouseout="document.getElementById('web').style.display='none'" style="color:rgb(165, 42, 165)">WEB</h3>
            <p class="service-description" id="web" style="display:none; text-align:justify;">Kvana is a trust worth web development company,offers genuine and professional website development services within a budget to leverage and expand your online business. They identify the requirement of the client and develop websites with strategy and planning. Our team of web developers are expert in designing websites </p>
          </div>
         
        
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h3 class="service-title" onmouseover="document.getElementById('backend').style.display='block'" onmouseout="document.getElementById('backend').style.display='none'" style="color:rgb(165, 42, 165)">BACKEND</h3>
          <p class="service-description" id="backend" style="display:none; text-align:justify;">Our company has been acknowledged for providing Backend Support Service.We have team of dedicated and hardworking technical experts with the help of whom we execute this service by utilizing modern techniques in adherence with market quality. Backend Support Service is conducted according to client's requirements.</p>
        </div>
        <div class="col-md-4 service-item">
            <div class="service-icon"><i class="fa fa-cloud"></i></div>
            <h3 class="service-title" onmouseover="document.getElementById('cloud').style.display='block'" onmouseout="document.getElementById('cloud').style.display='none'" style="color:rgb(165, 42, 165)">DIGITAL MARKETING</h3>
            <p class="service-description" id="cloud" style="display:none; text-align:justify;">Bringing logic to the digital world! We are not in the business of sales, we infect businesses with our passion and expertise.
              <br>
              At Kvana, we provide end-to-end digital marketing services, developing and executing the most powerful strategies. We spend time to understand your business objectives. With smart, expertise- driven and client centric approach we achieve some amazing results for your website</p>
        </div>
        <div class="col-md-4 service-item">
            <div class="service-icon"><i class="fa fa-skyatlas"></i></div>
            <h3 class="service-title" onmouseover="document.getElementById('design').style.display='block'" onmouseout="document.getElementById('design').style.display='none'" style="color:rgb(165, 42, 165); text-transform:uppercase">Design</h3>
            <p class="service-description" id="design" style="display:none; text-align:justify;">We develop and improve professional websites for customers across a wide range of industries, with design and creative subjects (i.e. design, advertising, architecture, etc). Our approach to great projects begins with a time-tested process that discovers and addresses the unexpected. Regular team and client check-ins keep things rolling.</p>
          </div>
      </div>
    </div>
  </section>

  