
  <nav class="navbar navbar-default header_aera" id="main_navbar" >
      
    <div class="container">
        <div class="col-md-4 p0">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                 <a routerLink="/" ><img src="assets/images/small-logo.png" alt="Kvana" style="padding-top:2%;"/><br><span style="font-size: 20px; color:rgb(75,147,203)" >Kvana</span></a>  
                 
            </div>

        </div>

        <div class="col-md-8 p0">
            <div class=" navbar-collapse collapse" id="min_navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/career">Career</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container -->
</nav>