

    <div class="bg-img" style="background-image: url('assets/images/back1.jpg'); ">
        <div class="overlay"></div>
        <div class="bs-example">
     
            <div align="center" >
                    <br>
                    <img src="assets/images/logo1.png" height="280" width="280" id="loading"/>
                </div> 
            <div id="hero" align="center">
            <h1 style="color:rgb(26, 24, 26);">Kvana</h1>
            <h2 style="color:rgb(26, 24, 26);"> Expertise in  <span class="rotating" style="color:rgb(68, 145, 204)">Adobe AEMM, Adobe DPSC , Adobe Livefyre</span></h2>
            </div>
           
        </div>
    </div> 
    <br> 

<div class="container-fluid">    
    <div class="row">
        <div class="col-md-2" >
            &nbsp;
        </div>
        <div class="col-md-8">
            <h1 style="color:rgb(165, 42, 165)"><b style="font-style: normal !important; font-family: 'Times New Roman' !important;">If you dream it, we do it.</b></h1>
            <p style="text-align: justify">Kvana solves our clients' toughest challenges by providing unmatched services in strategy, consulting, digital, technology and operations, driving innovation to improve the way the world works and lives.</p>                    
            <p style="text-align: justify">We take pride in our ability to design innovative and interactive applications without compromising on quality standards. Constant Innovation and Consistent quality continues to be of most importance at Kvana.</p>
            <p style="text-align: justify">We enable organizations to flex and to harness new technology quickly, without disrupting operations. We streamline the journey for our customers to become digital businesses that deliver better experiences for their customers, that in turn drive growth. Our software helps business users simply and securely access the apps and data they need, from anywhere, to do their best work. Organizations can embrace innovation at scale for competitive advantage</p>    
            <p style="text-align: justify">For the past 4 years, Kvana has been regarded as a premiere app development firm. Working with clients as Adobe, LiveFyre and Others.</p>    
            
            <h1 style="color:rgb(165, 42, 165);text-align:center; font-style:normal !important;">Few Of Our Projects</h1>
            <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                                    <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>   
                        
            <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="assets/images/image1.jpg" alt="AEMM">
                        <div class="carousel-caption">
                            <h4 style="color:rgb(16, 15, 17)"><b>Aemm</b></h4>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/image2.png" alt="LifeFyre">
                        <div class="carousel-caption">
                                <!-- <h4 style="color:rgb(16, 15, 17)">LifeFyre</h4> -->
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/image3.png" alt="Dpsc">
                        <div class="carousel-caption">
                                    <!-- <h3 style="color:rgb(16, 15, 17)">Dpsc</h3> -->
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/sikka1.png" alt="Sikka Software">
                        <div class="carousel-caption">
                            <h4 style="color:#fff">Patient Mobilizer</h4> 
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/sikka1.png" alt="Sikka Software">
                        <div class="carousel-caption">
                            <h4 style="color:#fff">Practice Mobilizer</h4> 
                        </div>
                    </div>
                </div>
                                        <!-- Carousel controls -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                    <!-- </div> -->
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>                      